# Ignore everything by default
*
# ...except these files:
!.bash_profile
!.bashrc
!.common_profile
!.common_rc
!.gitignore
!.inputrc
!.screenrc
!.tmux.conf
!.vimrc
!.zprofile
!.zshrc
!README.md
# ...and these directories:
!.config/
!config/
# ...but in the above also want to ignore these subfolders
.config/iterm2/
.config/wireshark/
# ...so have to unignore everything else
!.config/**/*
