wireshark/
*lazy-lock*
*.log
*.viminfo
*vimlog.txt
# Ignore everything under these
term/iterm2/**
vi/vim/**
vi/nvim/plugin/**
# Except allow the following
!term/iterm2/DynamicProfiles/
!term/iterm2/DynamicProfiles/**
!term/iterm2/DynamicProfiles
!vi/vim/templates/
!vi/vim/templates/**
!vi/vim/templates
#TODO: Templates for certain files because I'm doing some symlinking and could get messy!
