./.config/.common_profile linguist-language=Shell
./.config/.common_rc linguist-language=Shell
./.config/.input_rc linguist-language=Shell
./.config/.screen_rc linguist-language=Shell
./.config/.tmux.conf linguist-language=Tmux
