# Ignore everything by default
*
!.config
# ...except these files:
!.bash_profile
!.bashrc
!.common_profile
!.common_rc
!.gitattributes
!.gitignore
!.inputrc
!.screenrc
!.tmux.conf
!.vimrc
!.zprofile
!.zshrc
!symlinker.bash
!README.md
# ...and these directories:
# ...but in the above also want to ignore these subfolders
.config/iterm2/
.config/wireshark/
